
  
.card-img-top, .card {
    border-radius: 25%;
    border: solid black 1px;
    padding: 1rem;
    
}
.dropdown{
    margin: 1em;
}
#search-row{
    display: flex;
    justify-content: space-around;
}

